!!!5
html(lang="en")
  head
    meta(charset="utf-8")
    title Comning soon page: bootstrap free templates
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    // meta(name="description", content="")
    // Bootstrap style
    link(href="css/bootstrap.min.css", rel="stylesheet", media="screen")
    link(href="css/comingsoon.css", rel="stylesheet")
    // Bootstrap style responsive
    link(href="css/bootstrap-responsive.min.css", rel="stylesheet")
  body
    .wrapper
      .comingsoonBlk
        h1 Coming soon!
        p.
          We are pleased to anounced our website is launching soon. <br>
          We are working very hard to get ready it.
        .socialMedia
          a(href="#", data-placement="top", data-original-title="Find us on via facebook")
            img(style="width:45px", src="img/facebook.png", alt="facebook", title="facebook")
          a(href="#", data-placement="top", data-original-title="Find us on via twitter")
            img(style="width:45px", src="img/twitter.png", alt="twitter", title="twitter")
          a(href="#", data-placement="top", data-original-title="Find us on via youtube")
            img(style="width:45px", src="img/youtube.png", alt="youtube", title="youtube")
        form
          span(class="email")
            input(type="email", placeholder="Your email id")
          span(class="subscribe")
            button(class="btn btn-warning pull-right", type="submit") SAVE
        br(class="clr")
    .copyright yourproduct.com &copy; 2013.
